node_modules/
.DS_Store/
package-lock.json/

https://github.com/jonesliddy77

https://github.com/jonesliddy77/README-Generator


https://insights.stackoverflow.com/survey/2019#work-_-music-for-focus-while-coding

npm install the dependencies from the package.json file.

